.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

img {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", san-serif;
  color: #aaa;
  font-weight: 300;
  line-height: 1.6rem; }
